- return unless @project.feature_available?(:push_rules)

- expanded = expanded_by_default?
%section.settings.no-animate#js-push-rules{ class: ('expanded' if expanded), data: { qa_selector: 'push_rules_content' } }
  .settings-header
    %h4
      Push Rules
    %button.gl-button.btn.btn-default.js-settings-toggle
      = expanded ? 'Collapse' : 'Expand'
    %p
      Push Rules outline what is accepted for this project.
  .settings-content
    %h5
      Add new push rule
    = form_for [@project, @push_rule] do |f|
      = form_errors(@push_rule)

      = render "shared/push_rules/form", f: f, context: @project
